@if(job.activities.length > 0) {
    @for (activity of job.activities ; track $index) {
        <div style="display: flex">
            <p>{{ activity.createdAt | date }}</p>
            <p>{{ activity.type | activityLabel }} @if(activity.comment !== "") { : {{ activity.comment }} } <p>
        </div>
    }
}

@if(displayForm) {
    <app-job-activities-form [job]="job" (activitiesSaved)="onActivitiesSaved(job)"></app-job-activities-form>
}
@else {
    <button mat-raised-button (click)="addActivity(job)" i18n="add activity|Add an activity to a job@@action.job.add_activity">Add activity</button>
}