<h1 i18n="reset password title|title of the component used to reset user password@@user.password.reset.title">Reset your password</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
        <mat-label i18n="email|email input label@@input.email.label">Email</mat-label>
        <input matInput formControlName="email" i18n-placeholder="email placeholder|email input placeholder@@input.email.placeholder" placeholder="Enter your email">
        <mat-hint class="email-hint" align="end">
            <mat-hint class="email-hint" align="end">
                <app-status-icon [isValid]="!email?.invalid" />
            </mat-hint>
        </mat-hint>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="form.invalid || isSubmitting">
        @if (isSubmitting) { 
            <span i18n="loading|inform the user loading occurs@@info.loading">Loading...</span>
        } 
        @else { 
            <span i18n="reset password|reset password form validation button label@@action.password.reset">Reset your password</span>
            
        }
    </button>
</form>

