<h1>Reset your password</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
    <mat-label>Email</mat-label>                
    <input matInput formControlName="email" placeholder="Enter your email">
    @if(form.get('email')?.hasError('emailExists')) {
        <mat-hint align="start">Email already exists <a routerLink="/login">Log in</a></mat-hint>
    }
    <mat-hint class="email-hint" align="end">
        @if(email?.invalid) {
            <mat-icon class="input-invalid" svgIcon="invalid">Invalid</mat-icon>
        } 
        @else {
            <mat-icon class="input-valid"  svgIcon="valid">Valid</mat-icon>
        }</mat-hint>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="form.invalid || isSubmitting">@if (isSubmitting) { Loading... } @else { Reset your password }</button>
</form>

