
@if(job$ | async ; as job) {
    <button mat-raised-button (click)="editJob(job)" i18n="@@action.job.edit">Edit</button>
    <button mat-raised-button (click)="deleteJob(job)" i18n="@@action.job.delete">Delete</button>

    <app-job-summary [job]="job" (deleted)="onDelete(job)"></app-job-summary>

    <mat-card appearance="outlined" i18-aria-label="job description label@@job.description.label" aria-label="Job description">
        <mat-card-content><div [innerHTML]="job.description"></div></mat-card-content>
    </mat-card>

    <mat-card appearance="outlined" i18-aria-label="job profile label@@job.profile.label" aria-label="Job profile">
        <mat-card-content><div [innerHTML]="job.profile"></div></mat-card-content>
    </mat-card>

    @if(job.attachments !== null) {
        <mat-card appearance="outlined" i18-aria-label="job attachments label@@job.attachments.label" aria-label="Job attachments">
            <mat-card-content>
            <app-job-attachments [job]="job" [formMode]="'modal'" (attachmentsSaved)="reloadJob(job)"></app-job-attachments>
            </mat-card-content>
        </mat-card>
    }   
    @if(job.activities !== null) {
        <mat-card appearance="outlined" i18-aria-label="job activities label@@job.activities.label" aria-label="Job activities">
            <mat-card-content>
            <app-job-activities [job]="job" [formMode]="'modal'" (activitiesSaved)="reloadJob(job)"></app-job-activities>
            </mat-card-content>
        </mat-card>
    }
}
