<form [formGroup]="activityForm" (ngSubmit)="submit()">
    <div formArrayName="activities">
        @for(activity of activities.controls ; track $index) {
        <div [formGroup]="asFormGroup(activity)">
            <mat-form-field>
                <mat-label [attr.for]="'type'+$index">Type</mat-label>
                <mat-select matInput [id]="'type'+$index" formControlName="type" required>
                @for(key of activityTypeKeys; track $index) {
                    <mat-option [value]="key">{{ key | activityLabel }}</mat-option>
                        
                }
                </mat-select>
            </mat-form-field>

            <app-activity-comment-input [initialValue]="" [form]="asFormGroup(activity)"></app-activity-comment-input>
            
            @if($index >= defaultActivities) {
                <button aria-hidden="false" i18n-aria-label="Remove this activity|label for activity removal action@@action.activity.delete" aria-label="Remove this activity" matTooltip="Remove this activity" i18n-matTooltip="@@action.activity.delete" mat-icon-button (click)="removeActivity($index)">
                    <mat-icon aria-hidden="false" aria-label="Remove this activity" i18n-aria-label="@@action.activity.delete" fontIcon="remove">Remove this activity</mat-icon>
                </button>
            }
            
        </div>
        }
    </div>

    @if(activities.controls.length > 0) {
        {{ activityForm.invalid }}
        <button 
            mat-flat-button type="submit" 
            [disabled]="activityForm.invalid || loading" 
            i18n="Save activities action label@@action.activities.save"
            i18n-aria-label="@@action.activities.save" aria-label="Save activities"
        >
            Save activities
        </button>
    }

    <button aria-hidden="false" i18n-aria-label="Add an activity@@form.activities.add" aria-label="Add an activity" matTooltip="Add an activity" i18n-matTooltip="@@form.activities.add" mat-icon-button (click)="addActivity()">
        <mat-icon aria-hidden="false" aria-label="Add an activity" i18n-aria-label="@@form.activities.add" fontIcon="add">Add an activity</mat-icon>
    </button>
  </form>