<form [formGroup]="activityForm" (ngSubmit)="submit()">
    <div formArrayName="activities">
        @for(activity of activities.controls ; track $index) {
        <div [formGroupName]="$index">
            <mat-form-field>
                <mat-label [attr.for]="'type'+$index">Type</mat-label>
                <mat-select matInput [id]="'type'+$index" formControlName="type" required>
                @for(key of activityTypeKeys; track $index) {
                    <mat-option [value]="key">{{ key | activityLabel }}</mat-option>
                        
                }
                </mat-select>
            </mat-form-field>

            <app-activity-comment-input [initialValue]="" [form]="activityForm"></app-activity-comment-input>
            
            @if($index >= defaultActivities) {
                <button mat-icon-button (click)="removeActivity($index)">
                    <mat-icon aria-hidden="false" aria-label="Remove this activity" i18n-aria-label="Remove this activity|label for activity removal action@@action.activity.delete" fontIcon="remove">Remove this activitiy</mat-icon>
                </button>
            }
            
        </div>
        }
    </div>
    @if(activities.controls.length > 0) {
        <button mat-flat-button type="submit" [disabled]="activities.invalid || loading">Save activities</button>
    }

    <button aria-hidden="false" aria-label="Add an activity"  mat-icon-button (click)="addActivity()">
        <mat-icon fontIcon="add">Add an activity</mat-icon>
    </button>
  </form>