<!DOCTYPE html>
<html th:replace="~{mail/layout.html :: layout(~{::section})}">
<body>

<section>
    <p th:style="${paragraphStyle}">
        <span th:text="#{email.account_creation.content.welcome}"></span> <span th:text="${firstName}"></span> <span th:text="${lastName}"></span>
    </p>
    <p th:style="${paragraphStyle}" th:text="#{email.account_creation.content.thanks}">
    </p>
    <p th:style="${paragraphStyle}" th:text="#{email.common.info.email_validate}"></p>

    <p th:style="${paragraphStyle}">
        <a th:style="${buttonStyle}" th:href="${validationUrl}" th:text="#{email.common.action.email_validate}"></a>
    </p>

    <p th:style="${paragraphStyle}">
        <a th:style="${buttonStyle}" th:href="${url}" th:text="#{email.common.action.go_to_account}" ></a>
    </p>
</section>

</body>
</html>