<!DOCTYPE html>
<html th:fragment="layout (content)" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<style>
    table, td, p, a {
        font-family: Arial sans-serif;
    }
</style>
<th:block th:with="
        paragraphStyle='font-family: Arial, sans-serif; font-size: 14px; color: #333; padding: 10px;',
        linkStyle='font-family: Arial, sans-serif; font-size: 14px; color: blue; text-decoration: underline;',
        footerStyle='font-family: Arial, sans-serif; font-size: 14px; font-size: 12px; color: gray;',
        buttonStyle='font-family: Arial, sans-serif; font-size: 14px; background-color: #008CBA; color: white; padding: 10px; border-radius: 5px; text-decoration: none;'">

<table role="presentation" width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td align="center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0"
                   style="width: 100%; max-width: 600px; margin: auto; background-color: #fafafa;">
                <tr>
                    <td align="center"
                        style="padding: 20px; border-radius: 5px;">
                        <img src="cid:logoImage" alt="Logo" style="width: 150px;">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <div th:replace="${content}">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td align="center" th:style="${footerStyle}">
                        MyJobs - Wilzwert
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</th:block>
</body>
</html>