@if(user$|async; as user) {
    <mat-card appearance="outlined">
        <mat-card-content>
            <p class="user-info">
                <mat-icon>article_person</mat-icon><span>{{ user.firstName }} {{ user.lastName }}</span>
            </p>
            <p class="user-info">
                <mat-icon>email</mat-icon> 
            <span>{{ user.email }}</span>
            @switch(user.emailStatus) {
                @case(EmailStatus.PENDING) {
                    <mat-icon class="input-invalid">error</mat-icon><span i18n="invalid|invalid status label@@info.invalid">Invalid</span><button mat-button (click)="sendVerificationEmail()" i18n="validate|label of a validation link or button@@action.validate">Validate</button>
                }
                @case(EmailStatus.VALIDATED) {
                    <mat-icon class="input-valid" i18n="valid|valid status label@@info.valid">check</mat-icon><span i18n="verified|label indicating email is verified in user account@@info.verified">Verified</span>
                }

            }
            </p>
            <p class="user-info">
                <mat-icon>person</mat-icon> 
            {{ user.username }}
            </p>
            <p class="user-info">
                <mat-icon>calendar_month</mat-icon> 
                <span i18n="registered|label preceding registration date in user account@@info.registered">Registered</span> {{ user.createdAt | date }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button (click)="editUser(user)" i18n="edit|Edit action label@@action.edit">Edit</button>
        </mat-card-actions>
    </mat-card>

    <mat-card appearance="outlined">
        <mat-card-content>
            <button mat-button (click)="changePassword()" i18n="change password|Change password action label@@action.change_password">Change password</button>
        </mat-card-content>
    </mat-card>

}

<mat-card appearance="outlined">
    <mat-card-content>
        <button mat-button class="delete-account" (click)="deleteAccount()" i18n="delete account|Delete account action label@@action.user.delete_account">Delete my account</button>
    </mat-card-content>
</mat-card>