@if(control) {
    <mat-form-field>
        <mat-label i18n="job comment|job comment input label@@input.job.comment.label">Comment</mat-label>
        <editor [init]="init" (onKeyDown)="updateRichText($event)" (onChange)="updateRichText($event)" [initialValue]="control.value"
        i18n-placeholder="job comment placeholder|job comment input placeholder@@input.job.comment.placeholder"
            placeholder="Job comment"
        ></editor>
        <mat-hint class="content-hint" align="end">
            <app-status-icon [isValid]="!control.invalid"/>
        </mat-hint>
        <textarea matInput placeholder="Job comment" [formControl]="control" class=""></textarea>
    </mat-form-field>
}