@if(control) {
    <mat-form-field>
        <mat-label i18n="job profile|job profile input label@@input.job.profile.label">Profile</mat-label>
        <editor [init]="init" (onKeyDown)="updateRichText($event)" (onChange)="updateRichText($event)" [initialValue]="control.value"
        i18n-placeholder="job profile placeholder|job profile input placeholder@@input.job.description.placeholder"
            placeholder="Job profile"
        ></editor>
        <mat-hint class="content-hint" align="end">
            <app-status-icon [isValid]="!control.invalid"/>
        </mat-hint>
        <textarea matInput placeholder="Job profile" [formControl]="control" class=""></textarea>
    </mat-form-field>
}