<div class="job-status">
    <span matTooltip="Current status" aria-label="Current status" i18n-matTooltip="current job status|label preceeding a job's status@@job.status" i18n-aria-label="@@job.status">
        <mat-icon>{{ icon }}</mat-icon>
        {{ job.status | statusLabel}}
    </span>
    <span matTooltip="Current status date" aria-label="Current status date" i18n-matTooltip="current job status date|label preceeding a job's status date@@job.status.date" i18n-aria-label="@@job.status.date">
        <mat-icon>calendar_month</mat-icon>
        {{ job.statusUpdatedAt | date }}
    </span>
    
    @if(job.followUpLate) {
        <span class="job-late-warning" matTooltip="This job has not been updated recently" aria-label="This job has not been updated recently" i18n-matTooltip="late job|tooltip label for job late warning@@job.late" i18n-aria-label="@@job.late">
            <mat-icon>priority_high</mat-icon>
        </span>
    }
</div>