<form [formGroup]="attachmentForm" (ngSubmit)="submit()">
    <div formArrayName="attachments">
        @for(attachment of attachments.controls ; track $index) {
        <div [formGroupName]="$index">
            <mat-form-field>
                <mat-label [attr.for]="'name'+$index">Name</mat-label>
                <input matInput type="text" [id]="'name'+$index" formControlName="name" placeholder="Attachment name" required>            
            </mat-form-field>
            <mat-form-field>
                <mat-label [attr.for]="'file'+$index">File</mat-label>
                <input class="file-u" [required]="true" type="text" matInput formControlName="fileU">
                <input type="file" formControlName="file" (change)="onFileChange($event, $index)" required>
                <input type="hidden" name="MAX_FILE_SIZE" [value]="maxFileSize" />
            </mat-form-field>
             @if($index >= defaultAttachements) {
                <button mat-icon-button (click)="removeAttachment($index)">
                    <mat-icon aria-hidden="false" aria-label="Remove this attachment" fontIcon="remove">Remove this attachment</mat-icon>
                </button>
            }
        </div>
        }
    </div>
    @if(attachments.controls.length > 0) {
        <button mat-raised-button type="submit" [disabled]="attachmentForm.invalid || loading">Save attachements</button>
    }

    <button aria-hidden="false" aria-label="Add an attachment"  mat-icon-button (click)="addAttachment()">
        <mat-icon fontIcon="add">Add an attachment</mat-icon>
    </button>

  </form>