<h2 mat-dialog-title>
    @switch (data.metadata!.type) {
        @case('create-job-with-url') {
            <span i18n="create job with url title|title for creating job url modal@@job.url_create.title">Create a Job with its URL</span>
        }
        @case ('job') {
            @if(data.job?.id !== null) {
                <span i18n="edit job|edit job ui title@@job.edit">Edit job</span>
            }
            @else {
                <span i18n="create job|create job ui title@@job.create">Create a job</span>
            }
        }
        @case ('attachments') {
            <span i18n="manage attachments|attachments management ui title@@job.attachments.manage">Manage attachements</span>
        }
        @case ('attachments-form') {
            <span i18n="add attachments|attachments creation ui title@@job.attachments.add">Add attachments</span>
        }
        @case ('activities') {
            <span i18n="manage activities|activities management ui title@@job.activities.manage">Manage activities</span>
        }
        @case ('activities-form') {
            <span i18n="add activities|activities creation ui title@@job.activities.add">Add activities</span>
        }
    }
  </h2>
  @if(data.job !== null) {
    @switch (data.metadata!.type) {
        @case ('job') {
            <app-job-form [job]="data.job!" (jobSaved)="success()"></app-job-form>
        }
        @case ('attachments') {
            <app-job-attachments [job]="data.job!" (attachmentsSaved)="success()"></app-job-attachments>
        }
        @case ('attachments-form') {
            <app-job-attachments-form [defaultAttachements]="data.metadata!.defaultAttachments" [job]="data.job!" (attachmentsSaved)="success()"></app-job-attachments-form>
        }
        @case( 'activities') {
            <app-job-activities-form [job]="data.job!" (activitiesSaved)="success()"></app-job-activities-form>
        }
        @case ('activities-form') {
            <app-job-activities-form [defaultActivities]="data.metadata!.defaultActivities" [job]="data.job!" (activitiesSaved)="success()"></app-job-activities-form>
        }
    }
}