/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;


html {
  /*--ui-font-size: 1.6rem;
  --content-font-size: 1.4rem;*/
  --app-max-width: 835px;
  /*--title-font-size: 2.4rem;
  --form-max-width: 420px;*/
  /*
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      theme-type: light,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    density: 0
  ));*/
  font-family: 'Roboto';
  
  @include mat.toolbar-overrides((
    container-text-color: var(--main-color),
    standard-height: 94px,
    mobile-height: 62px
  ));
  /*
  --ui-font-size: 1.6rem;
  --content-font-size: 1.4rem;
 
  --title-font-size: 2.4rem;
  --form-max-width: 420px;
  @include mat.button-overrides((
    filled-container-color: var(--main-color),
    outlined-label-text-color: #fff,
    outlined-outline-color: #000
  ));*/
}

body {
  margin: 0;
  padding-top: calc(var(--mat-toolbar-standard-height));
  padding-bottom: 2rem;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

main {
  max-width: var(--app-max-width);
  margin: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

a {
  cursor: pointer;
  font-size: var(--content-font-size);
}

p {
  font-size: var(--content-font-size);
}

mat-paginator, mat-card {
    margin-bottom: 1em;
}

mat-form-field {
    width: 100%;
    padding: .75em  0;
}
mat-icon.input-invalid {
  fill: #D32F2F;
}

mat-icon.input-valid {
  fill: #3CB371;
}

.mdc-button {
    margin: .75em .75em .75em 0;
}

button mat-icon[svgIcon="send"] {
  stroke: var(--main-color);
}

button:disabled mat-icon[svgIcon="send"] {
  stroke: #999;
}

.spacer {
  flex: 1 1 auto;
}

app-rating {
  @include mat.icon-overrides((
      color: gold
  ));
}