/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/styles_theme-colors.scss' as myjobs-theme; // location of generated file

// shape for buttons -> no radius
$my-shape: (
  small: 0px,
  medium: 0px,
  large: 0px
);

@media (prefers-color-scheme: light) {
  :root {
    --app-main-color: #0c1a3c;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --app-main-color: #8390b9;
  }
}

html {
  color-scheme: light dark;
  font-family: Roboto, sans-serif;
  --app-max-width: 835px;
  --md-sys-color-error: #d32f2f;
  --color-warning: #ffa000;
  --color-success: #388e3c;
   
  @include mat.theme((
    color: (
      primary: myjobs-theme.$primary-palette,
      tertiary: myjobs-theme.$tertiary-palette
    ),
    typography: Roboto,
    density: 0,
    shape: $my-shape
  ));

  @include mat.toolbar-overrides((
    standard-height: 94px,
    mobile-height: 62px,
    container-background-color: transparent
  ));

  @include mat.paginator-overrides((
    container-background-color: transparent
  ));

  @include mat.card-overrides((
    outlined-container-shape: 0
  ));

  @include mat.button-overrides((
    filled-container-shape: 0,
    outlined-container-shape: 0,
    protected-container-shape: 0,
    text-container-shape: 0
  ))
}

.mat-mdc-button .mat-ripple-element,
.mat-mdc-raised-button .mat-ripple-element,
.mat-mdc-outlined-button .mat-ripple-element,
.mat-mdc-button::after,
.mat-mdc-raised-button::after,
.mat-mdc-outlined-button::after,
.mat-mdc-unelevated-button::after {
  border-radius: 0 !important;
}

body {
  margin: 0;
  padding-top: calc(var(--mat-toolbar-standard-height) + 2rem);
  padding-bottom: 2rem;
  color: var(--mat-sys-on-surface);
}

main {
  max-width: var(--app-max-width);
  margin: auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

h1 {
  color: var(--app-main-color);
}

a {
  cursor: pointer;
  color: var(--app-main-color);
  text-decoration: none;
  font-weight: 800;
}

mat-paginator, mat-card, mat-card-header {
    margin-bottom: 1em;
}

mat-form-field {
    width: 100%;
    padding: .75em  0;
}
mat-icon.input-invalid {
  color: var(--md-sys-color-error);
}

mat-icon.input-valid {
  color: var(--color-success);
}

.mdc-button {
    margin: .75em .75em .75em 0;
}

button mat-icon[svgIcon="send"] {
  stroke: var(--main-color);
}

.spacer {
  flex: 1 1 auto;
}

editor {
    margin-top: 3em;
}

.editable-field-content > div > :first-child {
    margin-top: 0;
}

.editable-field-content > div > :last-child {
    margin-bottom: 0;
}

// all native textareas are hidden because they are used by the rich editor
textarea {
    height: 0;
    width: 0;
    max-height: 0;
    overflow: hidden;
}

.list-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

mat-card-title a {
  color: inherit;
  text-decoration: none;
}

// common jobs styles
.job-title {
  text-transform: uppercase;
}

.job-metadata, .job-status {
  margin: 1em 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  > * {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  } 
}

.job-status {
  display: flex;
  align-items: center;
  > * {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  } 
}

.job-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

app-rating {
  @include mat.icon-overrides((
      color: gold
  ));
}

@media screen and (min-width: 600px) {
  .paginator-container {
    justify-content: flex-end;
  }
}