<h1>Create a new password</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <mat-form-field>
    <mat-label>New password</mat-label>                
    <input matInput formControlName="password" type="password" placeholder="Enter your new password">
    @if(password?.invalid) {
        @if(password?.errors !== null && password?.errors?.['passwordStrength'] !== null) {
            @let errors = password!.errors?.['passwordStrength'];
            @if(errors !== undefined && errors?.message !== undefined) {
                <mat-hint class="password-hint" align="start">
                    {{  errors.message }}
                </mat-hint>
            }
            
            
            
        }
    }

    <mat-hint class="password-hint" align="end">
        @if(password?.invalid) {
            <mat-icon class="input-invalid" svgIcon="invalid">Invalid</mat-icon>
        } 
        @else {
            <mat-icon class="input-valid"  svgIcon="valid">Valid</mat-icon>
        }</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Confirm your new password</mat-label>                
        <input matInput type="password" formControlName="passwordConfirmation" placeholder="Confirm your new password">
    
    <mat-hint class="password-hint" align="start">
        @if(form.errors?.['passwordConfirmation'] !== null) {
            Password and confirmation don't match
        }
    </mat-hint>
    <mat-hint class="password-hint" align="end">
        @if(passwordConfirmation?.invalid) {
            <mat-icon class="input-invalid" svgIcon="invalid">Invalid</mat-icon>
        } 
        @else {
            <mat-icon class="input-valid"  svgIcon="valid">Valid</mat-icon>
        }</mat-hint>
    </mat-form-field>

    <button mat-raised-button type="submit" [disabled]="form.invalid || isSubmitting">@if (isSubmitting) { Loading... } @else { Reset your password }</button>
</form>

