name: Deployment

on:
  # deploy should be able to run manually
  workflow_dispatch:
  push:
    tags:
      - 'v*'  # triggered by tags v1.0.0, v2.3.1, etc.

jobs:
  deployment-backend:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to registry
        run: |
          echo "${{ secrets.REGISTRY_PASSWORD }}" | docker login $REGISTRY \
            -u "${{ secrets.REGISTRY_USERNAME }}" \
            --password-stdin

      # Build + tag Docker image
      - name: Build Docker image
        run: |
          docker build \
            -f docker/deployment/backend.Dockerfile \
            -t $REGISTRY/$IMAGE_NAME:latest \
            -t $REGISTRY/$IMAGE_NAME:sha-${{ github.sha }} \
            .

      - name: Push Docker image
        run: |
          docker push $REGISTRY/$IMAGE_NAME:latest
          docker push $REGISTRY/$IMAGE_NAME:sha-${{ github.sha }}

      - name: Deploy
        uses: appleboy/ssh-action@v1.2.4
        with:
            host: ${{ vars.BACKEND_HOST }}
            username: ${{ secrets.BACKEND_HOST_SSH_USERNAME }}
            key: ${{ secrets.BACKEND_HOST_SSH_KEY }}
            script: |
              cd /opt/apps/myjobs-backend
              ./deploy.sh sha-${{ github.sha }}
            



#  deploy-frontend:
#    runs-on: ubuntu-latest
#    environment: production
#
#    steps:
#      - name: Checkout repo
#        uses: actions/checkout@v4
#      - name: Build frontend
#        run:
#            ng build --localize
#      - name: Push to S3
#        run:
#            push